.form-header{
    background-color:whitesmoke;
    display: flex;
    justify-content: end;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -13px;
    margin-right: -13px;
    margin-top: -1px;
    
}

.AlertForm{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;      
}

.form-footer{
    background-color: whitesmoke;
    display: flex;
    margin-left: -13px;
    margin-right: -13px;
    margin-bottom: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px lightgray;
}

button{
    margin: 8px;
}

.Weaccept{
    background-color: gray;
    border-radius: 3px;
    width: 230px;
    margin-left: 12px;
}

.GeneralBorder{
    border: solid lightgray 1px;
    border-radius: 5px;
    margin-top: 20px;
    
}
.AddAnyNotesHere{
    color:gray;
    font-size: 12px;
}
.MarginButton {
    margin-right: 10px;
   
}
.MarginRow{
    padding-top: 10px;
}